.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 72px;
  background-color: var(--badges);
  border-bottom: 1px solid var(--badges);
  /* background: var(--grey-light); */
  margin-bottom: 48px;
}
