.filters {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 16px;
  text-align: start;
  margin-top: 20px;
}
.filtersContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
}
.submitBtn {
  margin-top: 16px;
}
